/* Edurne Presa Angulo - DWEC - DAW 
 Unidad 3 - Tarea Evaluativa 2 
    Este documento css da estilo a todos los documentos html del sitio web.

    ÍNDICE del documento style.css: 
       I.   GENERAL: Estilos aplicados a todo el documento
      II.   Acceso: página index.html
     III.   Juego: página juego.html
    
*/

/*Se importa el archivo css de normalización de estilos*/
@import "normalize.css";

/*Se importa la fuente de Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');


/*  I.   GENERAL: Estilos aplicados a todo el documento */
body {
   background-image:url(/images/fondo.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   background-color: white;
   height: 100vh;
   font-family: 'Kalam', serif;
}
button {
   font-family: 'Kalam', serif;
}

/*  II.   Acceso: página index.html */
h1 {
   text-align: center;
   margin: 2rem 0 2rem 0;
   font-size: 3rem;
}
#formulario_acceso {
   width: 60%;
   padding: 1rem;
   margin-left: auto;
   margin-right: auto;
   text-align: center; 
   background-color: rgba(256,256,256,0.6);
   border-radius: 2rem;
   border: #472828 0.5rem solid; 
   display: flex;
   flex-direction: column;
   align-items: center;
}
h2 {
   font-size: 3rem;
   margin: 2rem;
}
.label_acceso {
   font-size: 2rem;
   margin-top: 1rem;
}
#boton_acceso,
.input_acceso {
   font-size: 1.5rem;
   width: 50%;
}
#boton_acceso {
   padding: 0.5rem 2rem;
   background-color: white;
   border: none;
   border-radius: 2rem;
   box-shadow: 1px 1px 0.2rem 0.1rem grey;
   margin-bottom: 2rem;
   text-decoration: none;
}
#hide {
   display: none;
   background-color: rgba(255, 0, 0, 0.5);
   border-radius: 2rem;
   margin: 1rem 1rem 2rem 1rem;
   padding: 1rem;
   width: 40%;
   text-align: center;   
   font-size: 1.5rem;
}

/*  III.   Juego: página juego.html */
#tablero {
   width: 60%;
   height: 70vh;
   margin-left: auto;
   margin-right: auto;
   text-align: center; 
   background-color: rgba(256,256,256,0.6);
   border-radius: 2rem;
   border: #472828 0.5rem solid; 
   display: flex;
   justify-content: space-around;
   align-items: center;
}
#figura {
   width: 40%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}
#dibujo {
   height: 80%;
}
#derecha{
   width: 50%;
   height: 100%;
   display: flex;
   flex-direction: column;
}
#palabras {
   height: 30%;
   font-size: 3rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin-top: 1rem;
}
.pal {
   margin-bottom: 1rem; 
   display: flex;
   justify-content: space-between;
}
.oculta {
   color:rgba(0, 0, 0, 0);
}
.transp {
   display: flex;
   justify-content: space-between;
}
.transp .l {
   border-top: black solid 5px;
   color: rgba(0, 0, 0, 0)
}
#letras {
   height: 60%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: space-around;
}
.letra {
   padding: 1rem;
   font-size: 2.5rem;
   background-color: transparent;
   border: none;
}
#btn1,
#btn2 {
   font-size: 2rem;
   padding: 0.5rem 2rem;
   border-radius: 2rem;
   background-color: white;
   box-shadow: 1px 1px 0.2rem 0.1rem grey;
}
#botones {
   margin: 2rem 0;
   display: flex;
   justify-content: space-evenly;
}


